/* css for body part */
body {
  font-family: "Poppins", sans-serif;
  margin: 0%;
}
/* heder css */
/* css for nav part */
.header {
  padding-top: 42px;
  background-color: #3dbafd;
}
.nav-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
li > a {
  text-decoration: none;
  color: white;
  margin-right: 36px;
}
.list-items {
  text-decoration: none;
  list-style: none;
  display: flex;
}
.log-btn {
  width: 123px;
  height: 44px;
  background-color: #33cc33;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
}

/* css for banner part */
.banner {
  margin-top: 42px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.heading h1 {
  width: 485px;
  height: 230px;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
}

.logo img {
  width: 556.01px;
  height: 438px;
  margin-bottom: 86px;
}
.logo {
  transition: transform 1s;
  transform-origin: right bottom;
}
.watch-l {
  transition: transform 1s;
}
.watch-l:hover {
  transform: scale(1.2);
}

.watch-l {
  width: 168px;
  height: 44px;
  background-color: #33cc33;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
}
.logo:hover {
  transform: scale(0.85) rotate(10deg);
}
/* player cards css */
.container {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 27px;
  grid-column-gap: 30px;
}

.player {
  padding: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  background: #ffffff;
  width: 330px;
}
.player h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #18191f;
  margin: 10px 0px;
}
.player p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #6c6c6c;
  margin: 10px 0px;
}
.player img {
  width: 100%;
  height: 100%;
}
/* Highlight part here  */
.highlights {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 165px;
  margin-left: 150px;
}
.h-info {
  width: 469px;
  height: 309px;
  margin-right: 100px;
}
.half-width img {
  width: 567px;
  height: 427px;
  margin-left: 160px;
}
/* footer part here  */
footer {
  margin-top: 158px;
  margin-bottom: 63px;
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-logo img {
  margin: 0px;
  width: 500px;
  height: 130.42px;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.s-logo {
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-left: 30px;
  display: flex;
  list-style: none;
}
.s-logo > li > a {
  color: grey;
}

.copy-r {
  padding-left: 10px;
  padding-right: 10px;
}
.copy-r p {
  margin: 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
}

/* bonus sectio css */
.bonus {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card-b {
  display: flex;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.card-b img {
  border-radius: 10px;

  height: 200px;
  width: 250px;
}
.info-c {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 10px;
}
.info-c h2 {
  margin: 0px;
  padding: 0px;
}
.info-c h3 {
  margin: 0px;
  padding: 0px;
}
.info-c p {
  margin: 0px;
  padding: 0px;
}
/* sponsor css */
.sponsor {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.sponsor h1 {
  color: #08bcbc;
}
#spo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.spo-half {
  width: 700px;
}
.spo-info h2 {
  color: #08bcbc;
}
/* meddia quarry here */

/* for mobile */
@media only screen and (max-width: 688px) {
  /* nav bar */
  .header {
    width: 100%;
  }
  .list-items {
    display: flex;
    flex-direction: column;
  }
  .nav-bar {
    display: flex;
    flex-direction: column;
  }

  /* banner */
  .banner {
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .heading h1 {
    font-size: 50px;
    width: 80px;
  }
  .logo img {
    height: 300px;
    width: 300px;
  }

  /* player card */
  .players {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
    padding-left: 30px;
  }
  /* highlights  */
  .highlights {
    display: flex;
    flex-direction: column;
  }
  .h-info {
    margin-left: 0px;
    width: 320px;
  }
  .thumb img {
    margin-top: 25px;
    width: 320px;
    margin-right: 350px;
  }
  /* bonus section css  */
  .bonus {
    display: flex;
    flex-direction: column;
  }
  .card-b {
    display: flex;
    flex-direction: column;
    width: 320px;
    padding: 5px;
    margin-left: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  }
  .card-b p {
    width: 320px;
    font-size: 16px;
  }

  /* sponsor */
  #spo {
    display: flex;
    flex-direction: column;
  }
  #spo img {
    width: 320px;
  }
  .spo-info {
    width: 320px;
    padding: 5px;
  }
  .spo-info p {
    padding: 5px;
    width: 310px;
  }
  .f-logo img {
    margin: 0px;
    width: 150px;
    height: 63px;
  }
  .copy-r p {
    margin: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
  }
}
/* for tablet */
@media only screen and (min-width: 688px) and (max-width: 992px) {
  body {
    width: 100%;
  }
  .list-items {
    display: flex;
  }
  .nav-bar {
    display: flex;
    flex-direction: column;
  }

  /* banner */
  .banner {
    margin-top: 42px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .heading h1 {
    font-size: 50px;
    width: 80px;
  }
  .logo img {
    height: 300px;
    width: 300px;
  }

  /* player card */
  .players {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
    padding-left: 30px;
  }
  /* highlights  */
  .highlights {
    display: flex;
    flex-direction: column;
  }
  .h-info {
    margin-left: 0px;
    width: 320px;
  }
  .thumb img {
    margin-top: 25px;
    width: 320px;
    margin-right: 350px;
  }
  /* bonus section css  */
  .bonus {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* sponsor */
  #spo {
    display: flex;
    flex-direction: column;
  }
  .f-logo img {
    width: 400px;
    height: 100px;
  }
  .s-logo {
    font-size: 20px;
  }
  .copy-r p {
    font-size: 18px;
  }
}
